.animated__background {
  position: fixed;
  inset: 0;
  z-index: -1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: url('/pattern.svg') center no-repeat;
  background-size: cover;
  background-color: var(--primary-color);
  overflow: hidden;
}

.circle1,
.circle2 {
  width: 500px;
  height: 500px;
  background-color: var(--action-color);
  border-radius: 30% 70% / 50% 50%;
  filter: blur(100px);
  opacity: 0.3;
  animation: animated-bg 5s infinite alternate;
}

.circle2 {
  animation-direction: alternate-reverse;
}

@keyframes animated-bg {
  0% {
    transform: translateY(300px) translateX(-200px);
  }

  100% {
    transform: translateY(-200px) translateX(200px);
  }
}
